name: Sauce Labs TrashCat

on:
  push:
    branches:
      - saucelabs_example

env:
  SAUCE_USERNAME: ${{secrets.SAUCE_USERNAME}}
  SAUCE_ACCESS_KEY: ${{secrets.SAUCE_ACCESS_KEY}}
  SAUCE_APP_URL: ${{secrets.SAUCE_APP_URL}}
  SAUCE_REGION: ${{secrets.SAUCE_REGION}}

jobs:
  csharp-tests-job:
    name: 'CSharp tests on Sauce Labs'
    runs-on: [self-hosted, services]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '7.0'

      - name: Restore dependencies
        run: dotnet restore

      - name: Run tests
        run: dotnet test --filter "StartPageTests"
